<div>
    note-editor works!
    <div>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Take a note...">
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" *ngIf="isExisting; else newButton" (click)="editData()">
        Update
    </button>

    <ng-template #newButton>
        <button (click)="addData()">
            Add
        </button>
    </ng-template>

    <app-helper-bar [icons]="initIcons()"></app-helper-bar>
</div>