<div class="border border-2 border-secondary rounded-2 p-4 m-3">
    <form [formGroup]="noteEditorForm">
        <mat-form-field appearance="outline" class="full-width">
            <input matInput placeholder="Title" type="text" id="title" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <input matInput placeholder="Take a note..." type="text" id="value" formControlName="value">
        </mat-form-field>
    </form>

    <button mat-flat-button color="primary" (click)="onSubmit()">
        {{renderSubmissionMsg()}}
    </button>

    <div #editorActionsDirective></div>
    <ng-template editorActionsDirective></ng-template>
</div>