<div>
    note-editor works!
    <form [formGroup]="myForm">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Title" type="text" id="title" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Take a note..." type="text" id="value" formControlName="value">
        </mat-form-field>
    </form>

    <button mat-flat-button color="primary" *ngIf="isExisting; else newButton" (click)="editData()">
        Update
    </button>

    <ng-template #newButton>
        <button (click)="addData()">
            Add
        </button>
    </ng-template>

    <app-helper-bar [icons]="initIcons()"></app-helper-bar>

</div>